body {
    background-color: rgb(176, 185, 188);
}

h1, h2, h3 {
    color: rgb(6, 82, 17);
    font-family: "Gill Sans", sans-serif;
}

p, ul, li, tr, td, th, label {
    color: rgb(8, 8, 111);
    font-family: "Gill Sans", sans-serif;
    font-size: 18px;
}

textarea, input {
    color: rgb(79, 73, 73);
    background-color: darkgray;
    font-family: "Gill Sans", sans-serif;
    font-size: 16px;
    text-align: left;
}

img {
    margin-left: 50px;
    border-radius: 25px;
    border: 2px solid rgb(8, 8, 111);
}

button {
    font-size: 20px;
    border-radius: 4px;
    background-color: darkgray;
    color: rgb(6, 82, 17);
    padding: 7px;
    border: 2px solid rgb(8, 8, 111);
}

button:hover {
    background-color: rgb(8, 8, 111);
    color: darkgray;
}